.App {
  font-family: Roboto Condensed;
  font-size: 16px;
  text-align: center;
  width: 778px;
  margin: 0 auto;
}

* {
  transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid gray;
}

input[type="checkbox"] {
  border: 0;
}

button:hover,
input:hover,
input:focus {
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 3px 0 rgba(255, 255, 255, 0.3);
}
